@import "tailwindcss";

@theme {
  --color-cardbg: #16324f;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: radial-gradient(circle, #001f40 20%, #001220 90%);
}
